.second_item{
    max-width: 220px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    color: #a4a4a4;
}
.second_item img{
    width: 100%;
    height: 100%;
}
.second_item:hover{
    color: orange;
}
.second_item p{
    margin-top: 3px;
    font-family: "Open Sans", sans-serif;
}
.second_img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.first_img{
    max-width: 460px;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first_img img{
    width: 100%;
    height: 100%;
}
.title{
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 35px 0px;
    color: #ededed;
    font-family: "Open Sans", sans-serif;
}
.info_images{
    display: flex;
    justify-content: space-between;
}
.alfavit h3{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-family: "Open Sans", sans-serif;
    font-weight:450;
}
.alfavit{
    padding-top: 30px;
}
.instructions{
    margin-top: 50px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instructions h3{
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;

}
.instructions p{
    width: 31%;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}